<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div class="login-box">
      <p>Signup</p>
      <div class="errors">
        <% if(messages.error) { %> <%= messages.error %> <% } %>
      </div>
      <form
        action="/register"
        id="signup-form"
        method="post"
        autocomplete="off"
      >
        <div class="user-box">
          <input id="name" name="name" type="name" required="required" />
          <label for="name">Name</label>
        </div>
        <div class="user-box">
          <input id="email" name="email" type="email" required="required" />
          <label for="email">Email</label>
        </div>
        <div class="user-box">
          <input
            id="password"
            name="password"
            type="password"
            required="required"
          />
          <label>Password</label>
        </div>
        <a onclick="document.getElementById('signup-form').submit()">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
      <p>Don't have an account? <a href="/login" class="a2">Login...</a></p>
    </div>
  </body>
</html>
